 
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    height: 100px;
    float: left;
}

header {
    background-color: #FFDAB9;
    border-bottom: solid black;
    position: sticky;
    top: 0;
}

.container {
    background-color: #FFDAB9;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    color: #8c633c;
    line-height: 100px;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0 10px;
    font-weight: 900;
}

nav li {
    display: inline-block;
}

a:hover {
    color: black;
    
    
}
nav ul li:last-child{
  background-color: red;
  border-radius: 10px;
}
.login {
  color: #FFDAB9;
}
.bg :hover .login{
  color: #FFDAB9;

}
.add_header{
  background-color: #FFDAB9;
  border-bottom: 2px solid black;
  text-align: center;

}
.slogan{
  font-size: 40px;
  font-family: sans-serif;
  font-style: italic;
  color: black;
}
.btn{
  background: red;
  font-size: 20px;
  width: 150px;
  text-align: center;
  padding: 15px;
  display: block;
  margin: 0 auto;
}
.add_header> .container > a{
 text-decoration: none;
 color: #FFDAB9;
 font-size: 20px;
 font-family: sans-serif;
 font-weight: 900;

}

.content{
  background-color: #FFDAB9;
}
.content > .container{
  background-color: #FFDAB9;
}
.articles{
  float: left;
  
  width: 65%;
}
.sidebar{
   float: right;
   width: 33%;
   padding: 20px;
  margin: 10px 0;
   border: 1px solid black;
   margin-left: 10px;
}
.article{
  padding: 20px;
  margin: 10px 0;
  border: 1px solid black;

}
.article:after{
    content: "";
    display: table;
    clear: both;

 } 
.article_text{
  float: left;
  width: 400px;
 
}
.article_img{
  width: 150px;
  height: 150px;
  float: right;
}
.article_img > img {
  width: 100%;
  height: 100%;
}
form {
    font-size: 25px;
}

label, input, textarea {
    display: block;
    font-size: 25px;
    width: 100%;
    margin-bottom: 3px;
}

body {
    background-color: #fdeada;
}